section#accordeon {
    background-color: #ffffff;
    width:65%;
    margin:1rem auto 0 auto; 
    padding:1rem 2rem 1rem 2rem; 
}

details {
    /* border-bottom: 1px solid #ccc; */
    font-family: BuenosAires, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 1px;
    margin-bottom: 1rem;
    margin: 1rem auto 1rem auto;
    background-color: #fff;
    display: block;
    outline: none;
    padding: 0 0 0 0 ;
    text-align: left;
    transition: .4s;
    background-color:white;
    width:65%;
    padding: 1rem 2rem 1rem 2rem;
}

summary {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 38px;
    cursor: pointer;
    list-style: none;
    /* Verberg de standaard marker */
    position: relative;
}

summary::before {
    content: '';
    background-image: url('/_assets/pijl.svg');
    background-size: contain;
    /* Zorgt ervoor dat de afbeelding binnen de box past */
    background-repeat: no-repeat;
    display: inline-block;
    /* Maak het element een blok-element */
    width: 1em;
    /* Stel de gewenste grootte in */
    height: 1em;
    /* Zorg voor gelijke hoogte/breedte */
    vertical-align: middle;
    position: absolute;
    left: 0px;
    /* padding-right:28px; */
    font-size: 24px;
    line-height: 1;
    transition: transform 0.3s;
}



details[open] summary::before {
    background-image: url('/_assets/pijl.svg');
    transform: rotate(180deg);

}

details p {
    font-family: BuenosAires, sans-serif;
    font-weight: 400;
    padding-left: 5px;
    margin: 0;
}

details p.firstchild {
    padding-top: 50px;
}

h3#leerdoelen {
    background-color: var(--light-grey);
    text-align:center
}

section#leerdoelen {
    padding: 0rem 0rem 2rem 0rem;
    background-color: var(--light-grey);
}

@media (max-width:767px) {
    details {
        width:100%;
    }
}