@font-face {
    font-family: BuenosAires;
    font-style: normal;
    font-weight: 100;
    src: url('/_fonts/BuenosAires-Thin.woff2') format("woff2")
}

@font-face {
    font-family: BuenosAires;
    font-style: normal;
    font-weight: 300;
    src: url('/_fonts/BuenosAires-Light.woff2') format("woff2")
}

@font-face {
    font-family: BuenosAires;
    font-style: normal;
    font-weight: 400;
    src: url('/_fonts/BuenosAires-Regular.woff2') format("woff2")
}

@font-face {
    font-family: BuenosAires;
    font-style: normal;
    font-weight: 700;
    src: url('/_fonts/BuenosAires-Bold.woff2') format("woff2")
}
@font-face {
    font-family: BuenosAires;
    font-style: normal;
    font-weight: 900;
    src: url('/_fonts/BuenosAires-Black.woff2') format("woff2")
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    src: url('/_fonts/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype")
}