section#main-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top:1rem;
    margin-bottom:1rem;
}


section#main-content aside {
    flex: 1;
    padding: 2rem;
    background-color: var(--light-grey);
}

section#buttons {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}


section#buttons .button-container {
    position: relative;
    border-top: 1rem solid var(--blue);
    min-width: 200px;
    height: 100px;
    background-color: var(--light-grey);
}

section#buttons .button-container:hover {
    background-color: var(--blue);
}

section#buttons .button-container:hover div {
    color: white;
}

section#buttons .button-container div {
    color: var(--blue);
    font-weight: 700;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

section#buttons .button-container div::before {
    content: '';
    width: 2rem;
    height: 1.4rem;
    background-image: url('/_assets/arrow-right-o.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -2px;
    display: inline-block;
    vertical-align: middle;
}

